<!DOCTYPE html>
<html>
<head>
	<title>Create New Thread Post</title>

	<style type="text/css">

		body {
			background-color: blanchedalmond;
		}

		form {
			text-align: center;
		}

		#copyright {
			color: red;
			bottom: 40px;
			text-align: right;
		}

	</style>
</head>

<body>

	<form method="POST" action="/posts">
		put your name
		<div>
			<input type="text" name="poster">
		</div>
		<div>
			<h2>put your comment</h2>
			<textarea name="content" cols="50" rows="10"></textarea>
		</div>
		<div>
			You need to put the thread ID, or it won't post to the right place!
			<input name="threadID" type="text">
		</div>
		<input type="submit">
	</form>


	<div id="copyright">
		<h4>Copyright Weir Doe</h4>
	</div>

</body>

</html>