<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style type="text/css">
		
		body {
			background-color: lightblue;
		}
		h1 {
			text-align: center;
			font-size: 40px;
			color: red;
			border: 10px groove;
			background-color: ;
		}

		#copyright {
			color: red;
			bottom: 40px;
			text-align: right;
		}

		#allPosts {
			text-align: center;
			border: 5px groove;
		}

		#Post {
			color: black;
			border: 5px groove;
		}
	</style>
</head>
<body>

	<div id="threadName"> <%= %> </div>


		<h3 id="comment"> <a href="/posts"> Comment on thread </a> </h3>
		<h3> <a href="/">Back to subforum index </a></h3>

	
	<div id="allPosts">
		<% rows.forEach(function(row){%>
			<div class="Post">
				<h2> Poster: <%= row.poster%> </h2>
				<p> <%= row.content%> </p>
			</div>
		<% }); %>	
	</div>

	<div id="copyright">
		<h4>Copyright Weir Doe</h4>
	</div>

</body>
</html>