<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style type="text/css">
		
		body {
			background-color: lightblue;
		}
		h1 {
			text-align: center;
			font-size: 40px;
			color: red;
			border: 10px groove;
			background-color: ;
		}

		#copyright {
			color: red;
			bottom: 40px;
			text-align: right;
		}

		#allPosts {
			text-align: center;
			border: 5px groove;
		}

		#Post {
			color: black;
		}
	</style>
</head>
<body>

	<h3 id="comment"> <a href="/posts"> Comment on thread </a> </h3>
	<h3 id="back"><a href="/subforum/:id">Back to thread index</a></h3>
	
	<div id="allPosts">
		<% rows.forEach(function(row){%>
			<div class="Post">
				<h2> Poster: <%= row.poster%> </h2>
				<h2> <%= row.content%> </h2>
			</div>
		<% }); %>	
	</div>

	<div id="copyright">
		<h4>Copyright Weir Doe</h4>
	</div>

</body>
</html>